@import "R2Integration/base.css";
@import "R2Integration/button.module.css";
@import "R2Integration/dashboard-canvas.css";
@import "R2Integration/filter-panel.css";
@import "R2Integration/integra1.css";
@import "R2Integration/integra2.css";
@import "R2Integration/kpi-widget.css";
@import "R2Integration/pdf-export.css";
@import "R2Integration/reportal-styles.css";
@import "R2Integration/widgets.css";


